= tinymce_assets

= form_for(@cm) do |f|
  .form-group
    = f.label :name
    - # @todo: Clean this up
    - # select(:name, :name, options_for_select(['home']))
    = f.select(:name, options_for_select(['home']))
  .form-group
    = f.label :body
    <br />
    = f.text_area :body, class: 'tinymce', rows: 10
  .form-controls
    = f.submit "Submit", class: 'btn btn-primary'

= tinymce
