%h2
  CMS Content Items
.text-right
  = link_to('Create New', new_cm_path, class: 'btn btn-primary', data: { turbolinks: false })
%br
%br
- @cms.each do |cm|
  .panel.panel-default
    .panel-heading
      = "#{cm.name}"
    .panel-body
      .text-right
        = link_to('Edit', edit_cm_path(id: cm.id), data: { turbolinks: false })
        = ' | '
        = link_to('Preview', cm_path(id: cm.id))
        = ' | '
        = link_to('Delete', cm_path(id: cm.id), method: :delete)
  %br
