%h1
  Creator Options

.button-box-container
  .button-box
    = link_to 'Create a Flow', new_plan_path

  .button-box
    = link_to 'Create a Stage', new_stage_path

  .button-box
    = link_to 'Delete a Stage', stages_path

  .button-box
    = link_to 'Edit a Flow', plans_path

  .button-box
    = link_to 'Publish a Flow', plans_path

  .button-box
    = link_to 'Add Stages to a Flow', plans_path

- if current_user.admin?

  %h1
    Admin Options

  .button-box-container
    .button-box
      = link_to 'Edit a Stage', stages_path
