%h2
  Manage Content

.button-box-container
  .button-box
    = link_to 'Create a Flow', new_plan_path

  .button-box
    = link_to('Create a Stage', new_stage_path, 'data-turbolinks' => false)

  .button-box
    = link_to 'Manage Flows', plans_path

  .button-box
    = link_to 'Manage Stages', stages_path

  .button-box
    = link_to 'Tutorial', admin_tutorial_path

- if current_user.admin?

  %h2
    Admin Options

  .button-box-container
    .button-box
      = link_to 'Manage Users', admin_users_path
