.panel.panel-info
  .panel-heading
    Note
  .panel-body
    Stages can be used in multiple Flows. For this reason Stages <strong>cannot</strong> be edited once they are created.
= form_for(@stage) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control', placeholder: 'Description'
  .panel.panel-info
    .panel-heading
      Supported Types
    .panel-body
      general = Simple text
      <br />
      todo = Same as general, but will send an email with the contents of the stage
      <br />
      survey =
      = link_to('Wufoo Surveys', 'https://www.wufoo.com/')
      <br />
      video =
      = link_to('YouTube Videos', 'https://www.youtube.com/')
      <br />
      - # @todo Find a discussion solution
      discussion =
      = link_to('Slack', 'https://flowchronicpaindemo.slack.com/')
      <br />
  .form-group
    = f.label :stage_type
    - # @todo: Clean this up
    = f.select(:stage_type, options_for_select(['general', 'todo', 'survey', 'video', 'discussion'], @stage.stage_type.to_s))
  #image.form-group
    = f.label :image
    %br
    %I
      = @stage.image_file_name if @stage.image_file_name
    = f.file_field :image, class: 'form-control', placeholder: 'image'
  #url.form-group
    = f.label :url
    = f.text_field :url, class: 'form-control', placeholder: 'URL'
  #resource.form-group
    = f.label :resource
    %br
    %I
      = @stage.resource_file_name if @stage.resource_file_name
    = f.file_field :resource, class: 'form-control', placeholder: 'resource'
  .form-controls
    = f.submit "Submit", class: 'btn btn-primary'

:javascript
  var url_stage_types = ['survey', 'video', 'discussion'];
  var resource_stage_types = ['general', 'todo'];
  // var image_stage_types = ['general', 'todo'];

  var selected_stage_type = $('#stage_stage_type')[0].value;

  if(url_stage_types.includes(selected_stage_type)) {
    $('#url').show();
    $('#resource').hide();
    $('#image').hide();
  } else if(resource_stage_types.includes(selected_stage_type)) {
    $('#url').hide();
    $('#resource').show();
    $('#image').show();
  } else {
    $('#url').hide();
    $('#resource').hide();
    $('#image').hide();
  };
  $('#stage_stage_type').change(function() {
    selected_stage_type = $('#stage_stage_type')[0].value;

    if(url_stage_types.includes(selected_stage_type)) {
      $('#url').show();
      $('#resource').hide();
      $('#image').hide();
    } else if(resource_stage_types.includes(selected_stage_type)) {
      $('#url').hide();
      $('#resource').show();
      $('#image').show();
    } else {
      $('#url').hide();
      $('#resource').hide();
      $('#image').hide();
    };
  });
