%h2
  Build Your Flow
  .small
    = @plan.name
  - if @previous_plan_stage.persisted?
    %h3
      Select the next Stage
    %stong
      Previous Stage
    = link_to("#{@previous_plan_stage.stage.name}", plan_plan_stage_path(plan_id: @plan.id, id: @previous_plan_stage.id))
  - else
    %h3
      Select the first Stage

= render 'plan_stages/form'

= link_to 'Review and Publish Your Flow', plan_path(id: @plan.id) if @previous_plan_stage.persisted?
