%h1
  = @plan.name
%h2 
  = @stage.name 
%p
  = @stage.description
%br
// @todo: How to handle a responsive video embed?
.text-center
  - if @stage.stage_type == 'video'
    %iframe{:allowscriptaccess => 'always', :allowFullScreen => 'true', :frameborder => '0', :height => '315', :width => '560', :src => "#{@stage.url}", :title => "YouTube video player"}
  - elsif @stage.stage_type == 'discussion' 
    %iframe{:allowscriptaccess => 'always', :allowFullScreen => 'true', :frameborder => '0', :height => '315', :width => '560', :src => "#{@stage.url}", :title => "Embedded discussion"}
  - elsif @stage.stage_type == 'survey'
    <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","#{@stage.url}"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>
  - else
  %br
  - if @plan_stage.last?
    = link_to('Plan Complete - Return to Plan Selection', plans_path)
  - else
    = link_to('Next', plan_plan_stage_path(plan_id: @plan.id, id: @plan_stage.next_plan_stage.id), class: 'btn btn-primary')
