%h1
  Flows
- @unpublished_plans.each do |plan|
  .panel
    .panel-header
      %strong
        = plan.name
    .panel-body
      = plan.description
      %br
      - if current_user.admin_or_creator?
        .text-right
          = link_to('Add Stages to Plan', new_plan_plan_stage_path(plan_id: plan.id))
  %br


- @published_plans.each do |plan|
  .panel
    .panel-header
      %strong
        = plan.name
    .panel-body
      = plan.description
      %br
      .text-right
        = link_to('Let\'s do it', plan_plan_stage_path(plan_id: plan.id, id: plan.starting_plan_stage.id))
  %br
