%h1
  = @plan.name
%br
%p
  = @plan.description

%hr
  %strong
    Stages:
%br
- @plan.stages.each do |stage|
  = stage.name
  %br

= link_to('Start', plan_plan_stage_path(plan_id: @plan.id, id: @plan.starting_plan_stage.id))

= button_to('Publish', publish_plan_path(id: @plan.id), method: :post) unless @plan.published?
