!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Flow
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row.header
        %h1
          = link_to('Flow', root_path)    
      .row
        .col-xs-6.col-xs-offset-3.content
          // Content
          .notice
            = notice
          .alert
            = alert
          = yield
      .row.footer
        .text-center
          Flow
